*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', Microsoft JhengHei;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html 
{
 background-color: #132041;
 
 /* padding:0px 231px; */
 max-height: 2077px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    font-family: Microsoft JhengHei;


    /* height: 120px; */
}
.navbar{
    font-weight: bold;
    position: fixed;
    z-index: 9999;
    width: 1518px;
    height: 120px;
    display: flex;
    align-items: center;
    background-color: #132041;
}
/* .navbar a:hover{
background-color: white;
} */

.logo img{
     display: block;
     padding-left: 50px;  
    width: 193px;
    height: 68px;
}
.navbar_link {
    display: flex;
    align-items: center;
   
   }
   
   .link ,.link_2{
       
       position: relative;
   }
   .circle_1,.circle_2{
      
       position: absolute;
       right: 10px;
       top: -43px;
       border-radius: 50%;
       width: 100px;
       height: 100px;
       border: 3px solid white;
       transform: scale(1);
       transition: all;
       transition-duration: 0.5s;
   }
   .circle_1 a,.circle_2 a{
       color: black;
       opacity: 0;
       letter-spacing: 1.5em;
       position: absolute;
    right:0px;
    top: -90px;
       text-align: center;
       margin-top: 130px;
   }
   .circle_3,.circle_4{
      
    position: absolute;
    right: -10px;
    top: -40px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 3px solid white;
    transform: scale(1);
    transition: all;
    transition-duration: 0.5s;
}
.circle_3 a,.circle_4 a{
    font-weight:bold;
    opacity: 0;
    color: black;
      position: absolute;
    
    width: 250px;
    right:-80px;
    top: 40px;
    text-align: center;
}
   .circle_1:hover,.circle_2:hover{
      
       background-color: white;
       transform: scale(2);
   }
   .circle_3:hover,.circle_4:hover{
        
    transform: scale(2);
    background-color: white;
}
   .link_a{
       
       position: relative;
    
    color: #DCDADF;
    font-size: 16px;
    line-height: 19px;
    margin-left: 150px;
    /* width: 64px; */
    letter-spacing: 2em;
   }
  .link_2 a{
    
    
    font-size: 16px;
    line-height: 19px;
    margin-left: 150px;
    /* width: 112px; */
    letter-spacing: 0.3em;
  } 
  .btn{
      display: flex;
  }
  .facebook{
    margin-left: 150px;
  }
.instagram{
    margin-left: 35px;
}

.facebook img{
    
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
.instagram img{
    width: 46px;
    height: 46px;
    border-radius: 50%;
}


/* //////////////////////////////// */

.box
{
    
    max-width: 1440px;
 background-color: #C4C4C448;
 /* width: 1214px; */
 height: 1721px;
 margin: 0px 113px;
}

.logo_box img
{
 margin: 139px 345px;
 margin: 259px 345px 139px 345px;
}

.line
{
 width: 1080px;
 height: 1px;
 background-color: #DCDADF;
 margin: 0px 67px;
}

article h2
{
 font-size: 24px;
 color: #DCDADF;
 margin: 42px 0px 11px 138px;
}

.line1
{
 width: 142px;
 height: 1px;
 background-color: #DCDADF;
 margin: 0px 0px 21px 117px;
}

.box p 
{
 font-size: 18px;
 color: #DCDADF;
}

.pp
{
 width: 886px;
 line-height: 30px;
 letter-spacing: 0.3em;
 margin: 0px 164px;
 margin-bottom: 59px;
}

.line2
{
 width: 1080px;
 height: 1px;
 background-color: #DCDADF;
 margin: 0px 67px;
}

.line3
{
 width: 110px;
 height: 1px;
 background-color: #DCDADF;
 margin: 36px 555px 11px 550px;
}

h2
{
 font-size: 24px;
 color: #DCDADF;
 margin: 0px 555px;
}

.line4
{
 width: 110px;
 height: 1px;
 background-color: #DCDADF;
 margin: 11px 555px 0px 550px;
}

.haolay
{
 display: flex;flex-direction: row;
 display: flex;justify-content: center;
 
}

.haolay2
{
 display: flex;flex-direction: row;
 display: flex;justify-content: center;
}

.photo article img
{
 width: 186px;
 height: 186px;
 margin: 47px 80px 0px 80px;
} 

article p
{
 font-size: 16px;
 display: flex;justify-content: center;
}
.footer{
   
    height: 280px;
    display: flex;
    background-color: #C4C4C4;
}

.footer_ixd{
    width: 266px;
height: 82px;
margin: 98px 55px 99px 71px;
}
.footer .paragraph_1{
    font-weight: 400px;
    width: 280px;
    height: 50px;
    font-size: 12px;
line-height: 25px;
letter-spacing: 0.3em;
/* font-family:Arial ; */
color: #676767;
margin-top: 116px;
margin-bottom: 114px;
}
.footer .paragraph_2{
    margin-top: 103px;
    margin-bottom: 102px;
    width: 350px;
    height: 75px;
    font-weight: 400px;
    font-size: 12px;
line-height: 25px;
letter-spacing: 0.3em;
/* font-family:Arial ; */
color: #676767;
}
.footer_fb {
   /* display: block; */
width: 46px;
height: 46px;
margin: 117px 36px 117px 215px;
}
.footer_ig{
    
width: 46px;
height: 46px;
margin: 117px 78px 117px 0px;
}